<!DOCTYPE HTML>
<html>
<body>

<div class ="panel panel-clean">
	<div class="panel-body">

		<form name="descriptionForm">
			<div class="form-group">
				<label for="device_name">Device Name</label>
				<input id="device_name" type="text" class="form-control" ng-model="device.c8y_Description.name">		
			</div>
		<div>
		<a href="" class="btn btn-primary" ng-click="save(device)" ng-disabled="descriptionForm.$invalid">Save changes</a>
		</div>
		</form>
	<br>

	<img src="telstra.jpg" alt="Telstra Logo" style="width:50px;height:50px;">
	<br>
	<h3> Description </h3>
	<p> This device measure temperature, moisture and humidity as well as bein GPS enabled. </p>
	<p> It is designed to be used as a 'smart farming' device </p>	

	</div>
	
</div>

</body>
</html>